{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}
{% block content %}
<div class="row justify-content-center my-4">
    <div class="col-md-7 mt-4">
        <div class="card">
            <h1 class="card-header text-center">A.I WEB ASSISTANT</h1>
            {% if response == null %}
            {% else %}

            <div>
                {{ html_content|safe }}
            </div>

            {% endif %}
            <div class="card-body">
                <div id="customAlert" class="alert">
                    Speaking...
                </div>
                <pre>Hello, how can I help you?</pre>
                <form action="." method="POST">
                    <!-- this secures the form from malicious attacks during submission -->
                    {% csrf_token %}
                    <textarea class="form-control mb-2" required type="text" autofocus="autofocus" name="prompt"
                        value="{{ prompt }}" id="prompt" placeholder="Type your message..."></textarea>
                    <button class="btn btn-success fw-bold" type="submit">
                        GENERATE
                    </button>
                    <a id="clear" class="btn btn-warning fw-bold" href="{% url 'home' %}" value="CLEAR"
                        type="button">CLEAR</a>
                </form>
                <hr>
                {% if prompt %}
                <h2>Prompt</h2>
                <pre><code>{{ prompt|escape }}</code></pre>
                {% endif %}



                {% if response %}
                <h2>Response:</h2>
                <pre id="response"><code>{{ response|escape|linebreaks }}</code></pre>

                <div class="speak">
                    <P class="speak_lable">Turn the text reader on/off below</P>
                    <input class="toggle" type="checkbox" role="switch" id="speakButton" name="toggle" value="on">
                    <label for="toggle" class="slot">
                        <span class="slot__label">OFF
                        </span>
                        <span class="slot__label">ON
                        </span>
                    </label>
                </div>
                {% else %}
                <h3>Welcome. Lets Get Started</h3>
                <p>First ask the AI a question, but writing it into the prompt above.</p>
                {% endif %}


            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}